<a href="https://colab.research.google.com/github/subramaniannk/TTS/blob/master/Pandas2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
people={
    "first":["corey","jane","John"],
    "last":["a","b","c"],
    "email":["c","f","g"]
}

In [30]:
people["email"]

['c', 'f', 'g']

In [31]:
import pandas as pd

In [32]:
df=pd.DataFrame(people)

In [33]:
df

   first last email
0  corey    a     c
1   jane    b     f
2   John    c     g

In [34]:
df["email"]

0    c
1    f
2    g
Name: email, dtype: object

In [35]:
type(df["email"])

pandas.core.series.Series

In [36]:
df.email

0    c
1    f
2    g
Name: email, dtype: object

In [37]:
df[["last", "email"]]

  last email
0    a     c
1    b     f
2    c     g

In [38]:
type(df[["last", "email"]])

pandas.core.frame.DataFrame

In [39]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [40]:
df.iloc[[0,2],[0,1]]

   first last
0  corey    a
2   John    c

In [41]:
df

   first last email
0  corey    a     c
1   jane    b     f
2   John    c     g

In [42]:
df.loc[[0,2],["first","last"]]

   first last
0  corey    a
2   John    c

In [44]:
df.set_index('email')

       first last
email
c      corey    a
f       jane    b
g       John    c

In [45]:
df

   first last email
0  corey    a     c
1   jane    b     f
2   John    c     g

In [46]:
df.set_index('email',inplace=True)

In [47]:
df

       first last
email
c      corey    a
f       jane    b
g       John    c

In [48]:
df.index

Index(['c', 'f', 'g'], dtype='object', name='email')

In [49]:
df.loc["c"]

first    corey
last         a
Name: c, dtype: object

In [50]:
df.loc["c",'last']

'a'

In [51]:
df.reset_index(inplace=True)

In [52]:
df

  email  first last
0     c  corey    a
1     f   jane    b
2     g   John    c